h1 Delighted
form#LoginForm(method='post', action='/api/data-source/auth/Delighted/callback')
  input(type='text', name='nickname', placeholder='Nickname')
  input(type='text', name='apiKey', placeholder='API Key')
  input(type='submit', value='Submit')